<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List Detail</title>
  </head>
  <body>
    <main>
      <header>
        <nav>
          <a class=bold-white href="{% url 'todo_list_list' %}">Main Page</a>
        </nav>
      </header>
      <div>
        <h1>{{ todo_list_detail.name }}</h1>
        <p>
          <a class="bold-white"
             href="{% url 'todo_list_update' todo_list_detail.id %}">Edit</a>
        </p>
        <p>
          <a class="bold-white"
             href="{% url 'todo_list_delete' todo_list_detail.id %}">Delete</a>
        </p>
        <h2>Tasks</h2>
        <table>
          <thead>
            <tr>
              <th>Task</th>
              <th>Due Date</th>
            </tr>
          </thead>
          {% for todo in todo_list_detail.items.all %}
            <tbody>
            </tbody>
            <tr>
              <td>
                <a class=bold-white href="{% url 'todo_item_update' todo.id %}">{{ todo.task }}</a>
              </td>
              <td>{{ todo.due_date|date:"M d Y" }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
</body>
</html>
